body{
    background: rgb(73, 73, 192);
}
.cal_button{
    width: 3em;
    /* border-radius: 50%; */
   
}
.cal_input::-webkit-inner-spin-button,
.cal_input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
.cal_body{
    height: 20em;
    background-color: aquamarine;  
}
